@import "antd/dist/antd.css";
@import "react-awesome-button/dist/styles.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  text-align: center;
}

.ant-layout-content {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.ant-dropdown-menu-item, input, textarea {
  text-align: left;
}
